* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.navbar a,
.logo a{
  text-decoration: none ;
}

.navbar{
  position: fixed;
  width: 100%;
  background-color: white;
}

.logo {
  display: flex;          /* puts logo image + text side by side */
  align-items: center;    /* aligns them vertically in the middle */
  gap: 10px;              /* small space between image and text */
}


.logo a {
  font-size: 25px; 
  font-weight: 600; 
  color: black;
  
  font-family: 'Pacifico', cursive;
  text-decoration: none;  /* removes underline */
}



.logo img {
  width: 40px;
  height: 40px;
}

.navbar a{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-right: 25px;
}

.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 20px;

}

.logo a {
  font-size: 25px; 
  font-weight: 600; 
  color: blue;
  font-family: 'Pacifico', cursive;
}
li{
  list-style: none; 
  display: inline-block;

}

li {
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin-right: 25px;
}



/* home */

#home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url('assets/back.jpg');
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(7, 7, 8, 0.3), rgba(5, 4, 46, 0.7)), url('assets/back.jpg');
  background-repeat: no-repeat;       /* prevent repeating */
  background-size: cover;             /* make it fill the section */
  background-position: center;   
  display: flex;
  flex-direction: column; 
  justify-content: center;
  
}


.hero-image {
  text-align: center;
  max-width: 600px;   /* shrink the hero container */
  margin: 0 auto;
  padding: 40px;
}

.hero-image img {
  width: 300px;   /* shrink the image */
  height: auto;   /* keeps proportions */
}


#home h1 {
  color: white;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#home p {
  width: 100%;
  color: white;
  font-size: 0.9rem;
  margin: 20px auto;
  line-height: 25px;
  letter-spacing: 1px;
 margin-right: 20%;
}

#home .btn333{
  margin-top: 30px;
}

#home a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: white;
  font-weight: 600;
  border-radius: 5px;
}
  


 button.blue {
  background-color: rgb(21, 21, 100); 
  border: none;
  font-weight: bold;
  color: white;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
   transition: 0.3s ease;
 }


 button.blue:hover {
  color: rgb(21, 21, 100);
  background-color: white;
 }


  button.yellow {
    background-color: yellow; 
    border: none;
    font-weight: bold;
    color: rgb(21, 21, 100);
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
  }



 button.yellow:hover {
  color: rgb(21, 21, 100);
  background-color:  white;
 }




/* features */

#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}


#features h1 {
  font-size: 2rem;
  color: rgb(21, 21, 100);
  font-weight: 600;
}

#features .fea-box {
   background-color: #F9F9FF;
   text-align: start;
}


#features .fea-box i{
  font-size: 2.3rem;
  color: rgb(44, 44, 80);
}


#features .fea-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(46, 46, 59);
  padding: 13px 0 7px 0;
}


#features .fea-box p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(70, 70, 87);
  
}






